.chat{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 10px;
    background-color: rgb(61, 61, 61) !important;
    margin: 10px;
    height: 75vh;
    border-radius: 20px;
    overflow-y: scroll;
    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.question{
    /* like text chat on left side */
    text-align: right;
    color: black;
    margin: 0%;
    padding: 10px;
    border-radius: 20px;
}
.answer{
    /* like text chat on right side */
    text-align: left;
    color: black;
    margin: 0%;
    padding: 10px;
}
.chat-entry{
    margin: 10px;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 20px;
}